eth/build/
eth/node_modules/
# eth/yarn.lock
eth/.env
react/node_modules/
react/yarn.lock
eth/images/
react/.env
solana/Cargo.lock
solana/target

elm-stuff/
Test.elm
elm.js
.DS_Store
node_modules/
*-notes.*
.idea/
dist/
elm/*.dat

Main.min.js

result*
