eth/build/
eth/node_modules/
# eth/yarn.lock
eth/.env
react/node_modules/
react/yarn.lock
react/images/
react/.env

elm-stuff/
Test.elm
elm.js
.DS_Store
node_modules/
*-notes.*
.idea/
dist/

Main.min.js

result*
