.main {
 text-align: center;
 display: flex;
 justify-content: center;
 background-color: #f2f1f5;
 /* height: 100vh; */
}
.card {
 min-height: 50vh;
 width: 50vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.button {
 width: 20vw;
 height: 5vh;
}
